
{% block sidebar %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://scontent.fdac31-1.fna.fbcdn.net/v/t1.0-9/82636124_764792357264301_9147859974850871296_n.jpg?_nc_cat=100&_nc_sid=13bebb&_nc_oc=AQkOjr5mirXo6IYgLAypVlLZwpzOkOKc7hrbGVsu0g1peMW-7Hb-uTLbuME0iBV3-_I&_nc_ht=scontent.fdac31-1.fna&oh=7ea3964113d3919f8e58d17292c07f6e&oe=5EF0F60A" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
{% endblock sidebar %}